.avengers{
    background-color: slateblue;
}
.bison{
    background-color: #932230;
}
.blitz{
     background-color: #fff;
}
.beast{
     background-color: #fff;
}
.carnivores{
     background-color: #fff;
}
.cannibals{
     background-color: #fff;
}
.dragons{
     background-color: #fff;
}
.enforcers{
     background-color: #fff;
}
.fugitives{
     background-color: #fff;
}
.cobras{
     background-color: #fff;
}
.lumberjacks{
     background-color: #fff;
}
.mammoths{
     background-color: #fff;
}
.marauders{
     background-color: #fff;
}
.mustangs{
     background-color: #fff;
}
.monsters{
     background-color: #fff;
}
.phoenix{
     background-color: #fff;
}
.rampage{
     background-color: #fff;
}
.rhinos{
     background-color: #fff;
}
.swarm{
     background-color: #fff;
}
.samurai{
    background: #ee2424;
}
.tigers{
     background-color: #fff;
}
.vipers{
    background-color: #24928e;
}
.wolfpack{
    background-color: rgb(36, 36, 36);
}
.gladiators{
     background-color: #fff;
}
.owls{
     background-color: #fff;
 }

.logo img{
    position: relative;
    bottom: 25%;
    left: -25%;
    height: 150%;
    width: 150%;
}

.teamnamelogo img{
    position: relative;
    top: 0px;
    left: 0px;
    height: 500%;
    width: 500%;  
}